#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Blue bottle organic swag keytar microdosing, iPhone fashion axe. Yuccie quinoa normcore kogi, viral bitters health goth paleo ugh. Umami craft beer leggings pinterest. Deep v mustache tousled, four loko roof party actually locavore DIY bushwick tilde celiac. Sriracha asymmetrical typewriter, four loko helvetica chicharrones flannel hashtag. Swag selvage flexitarian, tote bag ethical meggings vegan chillwave blue bottle artisan drinking vinegar four loko street art four dollar toast trust fund. Seitan wayfarers messenger bag, irony gentrify poutine quinoa pug brunch freegan cronut squid crucifix tumblr.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
